<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.DependencyModel" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" />
  <package id="itext" version="8.0.4" />
  <package id="itext.bouncy-castle-adapter" version="8.0.4" />
  <package id="itext.bouncy-castle-fips-adapter" version="8.0.4" />
  <package id="itext.commons" version="8.0.4" />
  <package id="itext7" version="8.0.4" manuallyInstalled="true" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.4" manuallyInstalled="true" />
  <package id="itext7.bouncy-castle-fips-adapter" version="8.0.4" manuallyInstalled="true" />
  <package id="itext7.commons" version="8.0.4" manuallyInstalled="true" />
</packages>